*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #001e4d;
    overflow: hidden;
}

.card{
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin: 100px auto 0px;
    padding: 30px;
    border-radius: 20px;
}

.card h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0px
}

.quiz h2{
    font-size: 18px;
    color:#001e4d;
    font-weight: 600;;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;;
}

.btn:hover:not(:disabled){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;    
    width: 150px;
    border: none;
    padding: 10px;
    margin: 20px auto 0px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393
}
